:root {
  --purple: #6571c2;
  --boxWidth: 180px;
  --boxHeight: 100px;
  --textShadow: 1px 1px 2px black;
  --yellow: #ffde58;
  --orange: #ffb48b;
  --green: #50a381;
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Delius", cursive;
  /* background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  margin: 0;
  box-sizing: border-box;
}

/* .myApp {
  display: flex;
  flex-shrink: 0;
} */
.container {
  padding: 0 2rem 2rem 2rem;
}
